@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  border: none;
}
body {
  width: 1440px;
  height: auto;
}
:root {
  --header-color: #091e42;
  --text-color: #344563;
  --icons-color: #505f79;
  --button-text: #396df2;
  --active-btn: #4053fc;
  --tools-background: #ebebff;
  --logo-color: #ebebff;
}
img {
  width: 100%;
}
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1440px;
  padding: 5rem 16.25rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8.875rem;
}
.flex-container {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 3rem;
  line-height: 60px;
  font-weight: 700;
  color: var(--header-color);
}
h2 {
  font-size: 2.5rem;
  line-height: 52px;
  font-weight: 700;
  color: var(--header-color);
}
p {
  font-size: 1.25rem;
  line-height: 28px;
  font-weight: 400;
}
nav p {
  font-size: 0.938rem;
  line-height: 20px;
  color: var(--text-color);
}
.home-page {
  background-image: url(./images/hero-bg.png);
  width: 100%;
  height: 100vh;
  background-position: cover;
  background-repeat: no-repeat;
}
