@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  border: none;
}
body,
html {
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
}
:root {
  --header-color: #091e42;
  --text-color: #344563;
  --icons-color: #505f79;
  --button-text: #396df2;
  --button-hover: #6070ff;
  --active-btn: #4053fc;
  --tools-background: #ebebff;
  --logo-color: #6070ff;
  --body-bg: #e5e5e5;
  --portfolio-bg: #f4f5f7;
  --season-color: #6b778c;
  --company-color: #344563;
  --card-color: #ffff;
  --cards-stroke: #dfe1e6;
  --languages-box: #f7f7f9;
}
img {
  width: 100%;
}
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 0 10%;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
h1 {
  font-size: 4.7rem;
  line-height: 5rem;
  font-weight: 700;
  color: var(--header-color);
}
h2 {
  font-size: 2.5rem;
  line-height: 52px;
  font-weight: 700;
  color: var(--header-color);
}
h3 {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--season-color);
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--company-color);
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}
nav p {
  font-size: 0.938rem;
  line-height: 20px;
  color: var(--text-color);
}
.menu-bar {
  display: none;
}

/*------- Home-section Starts--------- */
#home-page {
  background-image: url(./images/home-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-top: 6rem;
}
header {
  display: flex;
  height: 8%;
  justify-content: space-between;
}
#logo h2 {
  color: var(--logo-color);
  font-size: 6rem;
}
nav ul {
  display: flex;
}
nav ul li {
  color: var(--text-color);
  font-size: 4rem;
  margin-left: 4rem;
}

.home-details {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  padding-left: 20rem;
  padding-right: 7.2rem;
}
.home-details h1 {
  font-size: 14rem;
  line-height: 16rem;
  font-weight: 700;
  color: var(--header-color);
  margin-bottom: 3rem;
}
.home-details p {
  font-size: 5rem;
  line-height: 6.5rem;
  font-weight: 400;
  display: flex;
  width: 80%;
  margin-bottom: 3.8rem;
}

.connect {
  font-size: 6rem;
  letter-spacing: 0.1rem;
  color: var(--button-text);
  cursor: pointer;
  margin-bottom: 3.2rem;
}

.social-links {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  cursor: pointer;
}

.social-links img {
  width: 6rem;
  margin-right: 7rem;
}
.social-links li {
  margin-right: 2rem;
}
/*------- Home-section Ends--------- */

/*------- Portfolio-section starts--------- */
#portfolio {
  background: var(--portfolio-bg);
  position: relative;
  z-index: -5;
}
.card {
  margin: 142px auto;
}
.card {
  background: var(--card-color);
  width: 312rem;
  height: 131rem;
  border-radius: 70px;
  margin-top: 50rem;
  display: flex;
  align-items: center;
  border: 1px solid var(--cards-stroke);
}
.card p {
  color: var(--text-color);
  font-size: 1.05rem;
  line-height: 1.5rem;
  margin-bottom: 24px;
}

.col-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.col-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-left: -2rem;
}
.col-2 h2 {
  font-size: 12rem;
  margin-bottom: 7rem;
}
.col-2 p {
  font-size: 4.5rem;
  line-height: 6rem;
  margin-bottom: 5rem;
}

.col-1 img {
  width: 100%;
  padding: 8rem;
}

.col-2 {
  margin-top: 10px;
  padding: 7rem;
}
.bullet-point {
  background: var(--season-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 4rem;
}

.work-details {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 8rem;
}
.work-details h4,
h3 {
  font-size: 5rem;
}
.work-details p {
  font-size: 20rem;
}
.work-title {
  color: var(--work-title);
}
.work-tools ul {
  display: flex;
}

.tools-btn {
  padding: 6px 24px;
  background: var(--tools-background);
  border-radius: 2rem;
  margin-right: 3rem;
  color: var(--button-text);
  margin-top: 0.4rem;
  margin-bottom: 4rem;
  font-size: 4rem;
}

.primary-btn {
  padding: 40px 90px;
  color: var(--button-text);
  border: 1px solid var(--button-text);
  border-radius: 2rem;
  background: var(--card-color);
  margin-top: 1rem;
  cursor: pointer;
  display: flex-start;
  font-size: 4rem;
}

.primary-btn:hover {
  background: var(--button-hover);
  color: var(--card-color);
  box-shadow: 4px 4px 7px #7f8aed;
}
.active {
  background: var(--active-btn);
  color: var(--card-color);
}

.active-line {
  border: 2px solid #7f8aed;
  box-shadow: 24px 24px 30px #7f8aed;
}
.row .project-2 {
  display: flex;
  flex-direction: row-reverse;
}
.project-2 .col-1 {
  right: 0rem;
}
/*------- Portfolio-section Ends--------- */

/*------- About-section starts--------- */
#about-section {
  background-image: url(./images/about-bg.png);
  background-position: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 30rem;
  margin-bottom: 50rem;
}
.row-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 8.8rem;
  padding: 5rem;
  gap: 20rem;
}
.about-details h1 {
  color: var(--header-color);
  font-size: 12rem;
  line-height: 12rem;
  margin-bottom: 7rem;
}
.about-details {
  display: flex;
  flex-direction: column;
}

.about-details p {
  font-size: 5rem;
  line-height: 8rem;
  margin-bottom: 3rem;
  color: var(--text-color);
}
.social-links {
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.about-intro a {
  font-size: 6rem;
  letter-spacing: 0.1rem;
  color: var(--button-text);
  cursor: pointer;
  margin-bottom: 3.2rem;
}

.languages h4 {
  font-size: 6rem;
  letter-spacing: 0.1rem;
}

.languages {
  display: flex;
  justify-content: space-between;
}
.languages img {
  width: 3rem;
}
.languages-box li {
  background: var(--languages-box);
  width: 20%;
  padding: 5rem;
  margin-top: 2rem;
  margin-right: 3rem;
  margin-bottom: 6rem;
}
.languages-box img {
  width: 60%;
}
.languages-box {
  display: flex;
}
hr {
  height: 1px;
  width: 100%;
  background: var(--icons-color);
  margin-top: 1rem;
}
.skill {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.skill img {
  width: 1.8rem;
}

.skill h4 {
  font-size: 6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 6rem;
}
/*------- About-section Ends here--------- */

/*------- Contact-section starts here--------- */
#contact-section {
  background-image: url(./images/Contact-pg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-top: 3rem;
  padding-top: 10rem;
}
.contact-text {
  display: flex;
  flex-direction: column;
  padding-top: 12rem;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-text h2 {
  color: #fff;
  font-size: 12rem;
  padding-top: 2rem;
  margin-bottom: 6rem;
}

.contact-text p {
  color: #fff;
  font-size: 5rem;
  line-height: 10rem;
  margin-bottom: 6rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding-left: 26%;
  padding-right: 26%;
}

.contact-form {
  display: flex;
}

.form,
.input,
.message {
  width: 38%;
  font-size: 3rem;
}

.input,
.message {
  border-radius: 0.4rem;
  margin-top: 20px;
  border: 1px solid #cfd8dc;
  font-family: "Poppins", sans-serif;
}

.input {
  padding: 4rem;
  border-radius: 2rem;
  margin-bottom: 6rem;
}
#contact-section button {
  background: #fff;
}

#contact-section button:hover {
  background: var(--active-btn);
  color: var(--tools-background);
}

.active {
  padding: 40px 90px;
  color: var(--tools-background);
  border: 1px solid var(--button-text);
  margin-top: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  display: flex-start;
  font-size: 4rem;
  background: var(--active-btn);
}
/* Contact-section End */

/*--------------------------- Media Query ------------------------------*/

/*--------------------------- Media Query ------------------------------*/

@media only screen and (max-width: 768px) {

  #home-page {
    background-image: url(./images/mobilebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }

  body {
    align-items: center;
    justify-content: center;
    background: var(--body-color);
  }

  h1 {
    font-size: 2.5rem;
    line-height: 52px;
    font-weight: 700;
    color: var(--title-color);
  }

  h2 {
    font-size: 1.9rem;
    font-style: bold;
    line-height: 2rem;
  }

  h3 {
    font-size: 0.8rem;
    font-weight: normal;
    color: var(--year-color);
  }

  h4 {
    font-size: 0.8rem;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 200;
    font-style: normal;
    color: var(--content-color);
    margin-bottom: 0.7rem;
  }

  .bullet-point {
    background: var(--bullet-color);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 15px;
  }

  .container {
    padding: 1rem 1.5rem;
  }

  .app-bar {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    margin-top: -1rem;
  }

  /* navigation starts */

  nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav h2 {
    color: var(--dark-blue);
    letter-spacing: 0.2rem;
    font-size: 1.1;
  }

  #logo h2 {
    font-size: 3rem;
    cursor: pointer;
  }

  #logo:hover {
    cursor: pointer;
    color: var(--hover-color);
  }

  nav ul li {
    display: none;
  }

  .menu-bar {
    width: 3rem;
    cursor: pointer;
  }

  /* navigation ends */

  /* hero-section */

  .home-details {
    width: 100%;
  }
  .home-details {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    padding-left: 2rem;
    padding-right: 7.2rem;
  }
  .home-details h1 {
    font-size: 80rem;
    line-height: 4rem;
    font-weight: 700;
    color: var(--header-color);
    margin-bottom: 3rem;
  }

  .home-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-details h1 {
    font-size: 4.3rem;
    line-height: 5rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
  }
  .home-details p {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    width: 100%;
    margin-bottom: 3.8rem;
  }
  .connect {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    color: var(--button-hover);
    cursor: pointer;
  }

  .social-links {
    display: flex;
    margin-top: 0.2rem;
    align-items: center;
    cursor: pointer;
  }

  .social-links img {
    width: 100%;
    margin-right: 0.5rem;
  }

  /* hero-section ends */

  /* portfolio section starts */

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  #portfolio {
    justify-content: center;
    padding-top: 7.2rem;
    background: var(--porfolio-bkg-color);
    margin-top: -7rem;
    position: relative;
    z-index: -1;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .card img {
    width: 890px;
  }
  .card .project-1 {
    padding: 1rem 1.5rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 1052px;
    background: #ffff;
    border-radius: 1rem;
    padding: 0.2rem;
    margin-top: 15rem;
    border: 1px solid var(--);
  }
  .col-1 {
    display: flex;
    flex-direction: column;
    margin-top: -6rem;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    margin-top: -6rem;
    padding: 1rem 1.5rem;
  }
  .col-2 h2 {
    font-size: 4rem;
  }
  .work-details {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .work-title {
    color: var(--header-color);
  }

  .card p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .work-tools ul {
    display: flex;
  }

  .tools-btn {
    padding: 4px 12px;
    background: var(--button-hover);
    border-radius: 12px;
    margin-right: 5px;
    color: var(--active-btn);
    margin-top: 0.4rem;
  }

  .primary-btn {
    padding: 10px 20px;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 8px;
    background: var(--card-bkg-color);
    margin-top: 1rem;
    cursor: pointer;
  }

  .primary-btn:hover {
    background: var(--dark-blue);
    color: var(--card-bkg-color);
    box-shadow: 4px 4px 7px #7f8aed;
  }
  
}
